node_modules
dist
out
.DS_Store
*.log*
yarn.lock
package-lock.json


*.local

.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
yarn.lock
pnpm-lock.yaml
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
